# JSON Web Token Secret Key
JWT_SECRET=your_jwt_secret_key

# MongoDB Connection URI (Atlas connection string recommended)
MONGO_URI=mongodb://localhost:27017/foodgram

# ImageKit Credentials (for video/image storage)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Frontend URL (Used for CORS and redirects)
FRONTEND_URL=http://localhost:5173

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=